{% extends "layouts/base.html" %}


{% block main %}
    {% if not shift %}
        <script>
            {#var myCanvas = document.createElement('canvas');#}
            {#document.body.appendChild(myCanvas);#}

            var duration = 3 * 1000;
            var animationEnd = Date.now() + duration;
            var defaults = {startVelocity: 30, spread: 360, ticks: 60, zIndex: 0};

            function randomInRange(min, max) {
                return Math.random() * (max - min) + min;
            }

            var interval = setInterval(function () {
                var timeLeft = animationEnd - Date.now();

                if (timeLeft <= 0) {
                    return clearInterval(interval);
                }

                var particleCount = 50 * (timeLeft / duration);
                // since particles fall down, start a bit higher than random
                confetti(Object.assign({}, defaults, {
                    particleCount,
                    origin: {x: randomInRange(0.1, 0.3), y: Math.random() - 0.2}
                }));
                confetti(Object.assign({}, defaults, {
                    particleCount,
                    origin: {x: randomInRange(0.7, 0.9), y: Math.random() - 0.2}
                }));
            }, 250);
        </script>
    {% endif %}
    <div class="min-h-screen flex justify-center items-center w-full">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <div class="card-title">Prediction Result</div>
                <div class="flex justify-center items-center flex-col">
                    <div>
                        <div class="stat">
                            <div class="stat-figure {{ 'text-success' if not shift else 'text-error' }}">
                                {% if not shift %}
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-16 h-16 inline-block">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"></path>
                                    </svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-16 h-16 inline-block">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"></path>
                                    </svg>
                                {% endif %}
                            </div>
                            <div class="stat-title">
                                {% if not shift %}
                                    You are more likely to stay
                                {% else %}
                                    You are more likely to shift
                                {% endif %}
                            </div>
                            <div class="stat-value text-primary">
                                {{ result_percent }}
                            </div>
                            <div class="stat-desc">{{ message }}</div>
                        </div>
                    </div>
                </div>
                <div class="card-actions justify-end">
                    <a href="{{ url_for('index') }}" role="button" class="btn">Go back</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}